.maxlength-counter{
  display:inline-block;
  margin-left:10px;
  color: #666;
  padding:0 4px;
  font-weight:normal;
}
.focused .maxlength-ex-warning{
  background: #fffce5;
  outline: 1px solid #ed5;
  color:#840;
  padding:0 4px;
}
.focused .maxlength-ex-error{
  background: #fef5f1;
  outline: 1px solid #ed541d;
  color: #8c2e0b;
}

/*Textarea overrides*/
.form-type-textarea .maxlength-counter{
  margin: 0 0 3px 0;
}